
/*make sure to use background not background-color as the linear gradient 
wont work. Also no new lines after a funciton ie: linear-gradient CSS
treats it as ending the value early.*/
body{
  margin:0;
  background: linear-gradient(to right,
    #d095a1,
    #c280b2,
    #b26cc2,
    #9d56d2
  );
}

/* minmax 7rem means it will be a minimum of 7rem and the auto allows it
to grow if the number inputed is really really big. */
.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

/* cursor changes our cursor when hovering of any of the buttons. background-color
255,  255,    255,  0.75 is
red,  green,  blue, opacity in RGBA values (range is from 0-255)*/
.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

/* The 0.9 makes it more opaque, allowing the RGBA color value to show more, thus
letting the user know which button they're about to click */
.calculator-grid > button:hover, .calculator-grid > button:focus{
  background-color: rgba(255, 255, 255, 0.9);
}

/* to allow for the span two buttons to be bigger and easier to click */
.span-two{
  grid-column: span 2;
}

/* by making it go from column 1 to -1 one it will span the entire 
column space no matter change in the amount of columns 

flex-direction is what way we want the inside elements to be formatted too.
in this case on top of each other (column)

space-around allows for a small gap between the items when needed.
word-wrap / word-break allows the number to create a new line and "break"
when needed, in this case if the inputed number is getting too big.
*/
.output{
  grid-column: 1 / -1;
  background-color: rgba(0,0,0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}

/* Just coloring the text and the font-size */
.output .previous-output{
  color: rgb(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output .current-output{
  color: white;
  font-size: 2.5rem;
}